absl-py==1.4.0
aiosignal==1.3.1
alembic==1.12.0
asttokens==2.4.0
attrs==23.1.0
backcall==0.2.0
cachetools==5.3.1
certifi==2023.7.22
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.2.1
cmaes==0.10.0
cmake==3.27.4.1
colorlog==6.7.0
contourpy==1.1.0
cycler==0.11.0
DataProperty==1.0.1
decorator==5.1.1
dm-tree==0.1.8
docker==6.1.3
executing==1.2.0
Farama-Notifications==0.0.4
filelock==3.12.3
fonttools==4.42.1
frozenlist==1.4.0
fsspec==2023.9.0
google-auth==2.22.0
google-auth-oauthlib==1.0.0
greenlet==2.0.2
grpcio==1.57.0
gym==0.26.2
gym-notices==0.0.8
gymnasium==0.28.1
huggingface-hub==0.16.4
huggingface-sb3==2.3
idna==3.4
imageio==2.31.3
importlib-metadata==6.8.0
importlib-resources==6.0.1
ipython==8.12.2
jax-jumpy==1.0.0
jedi==0.19.0
Jinja2==3.1.2
joblib==1.3.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
kiwisolver==1.4.5
lazy_loader==0.3
lit==16.0.6
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.1
matplotlib-inline==0.1.6
mbstrdecoder==1.1.3
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.0.5
networkx==3.1
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
optuna==3.3.0
packaging==23.1
pandas==2.0.2
parso==0.8.3
pathvalidate==2.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pkgutil_resolve_name==1.3.10
prompt-toolkit==3.0.39
protobuf==4.24.2
ptyprocess==0.7.0
pure-eval==0.2.2
pyaml==23.9.2
pyarrow==13.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
Pygments==2.16.1
pyparsing==3.1.1
pytablewriter==0.64.2
python-dateutil==2.8.2
pytz==2023.3.post1
PyWavelets==1.4.1
PyYAML==6.0.1
ray==2.6.3
referencing==0.30.2
requests==2.31.0
requests-oauthlib==1.3.1
rich==13.5.2
rl-zoo3==2.1.0
rpds-py==0.10.2
rsa==4.9
sb3-contrib==2.1.0
scikit-image==0.20.0
scikit-learn==1.2.2
scikit-optimize==0.9.0
scipy==1.9.1
six==1.16.0
SQLAlchemy==2.0.20
stable-baselines3==2.1.0
stack-data==0.6.2
sympy==1.12
tabledata==1.3.1
tabulate==0.9.0
tcolorpy==0.1.3
tensorboard==2.14.0
tensorboard-data-server==0.7.1
tensorboardX==2.6.2.2
threadpoolctl==3.2.0
tifffile==2023.7.10
torch==2.0.1
tqdm==4.66.1
traitlets==5.9.0
triton==2.0.0
typepy==1.3.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==1.26.16
wasabi==1.1.2
wcwidth==0.2.6
websocket-client==1.6.2
Werkzeug==2.3.7
zipp==3.16.2
